<!DOCTYPE html>
{% load static %}
<html>
  <head lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="عنوان سایت و حتما 100 کاراکتر در اینجا بزارید">
    <link rel="stylesheet" type="text/css" href="{% static 'shortener/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/style-menu1.css' %}">
    <meta charset="UTF-8">
    <title>-- Url link shortener --</title>
  </head>
<header class="header">
  <h1>Link shortener</h1>
</header>
{% block content %}
    <body class="bodys">


        <h2 class="h2">Short url ! 👇</h2>
        <a class="link" href="{{ URL.url}}/{{ hasheds }}">127.0.0.1:8000/{{ hasheds }}</a>
        <a class="link" href="{{ URL.url}}/{{ hashed }}">Back</a>
        <a class="link" href="{{ URL.url}}" style="">{{ message }}</a>



    </body>
{% endblock %}
</html>
