{% load static %}
<html>
  <head lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="عنوان سایت و حتما 100 کاراکتر در اینجا بزارید">

    <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/style-menu1.css' %}">
    <meta charset="UTF-8">
    <title>-- Url link shortener --</title>
  </head>

<header class="header">
<h1>Link shortener</h1>
</header>

<body class="bodys">
  <form method = "POST" style = "text-align: center; margin-top: 100px;">
      {% csrf_token %}
      {{ form }}
      <input style="color:blue;" type = "submit" value = "Submit">
    </form>
</body>
